.App {
  text-align: center;
}

.Link {
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
}

.Home {
  padding: 40px;
}

.Image {
  width: 40px;
}

.Form {
  display: flex;
  flex-direction: column;
}

.Button {
  width: 20vw;
  margin: auto;
  margin-top: 20px;
}

.Search {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}